# Lab 1

## Introduction
This is a basic introduction to IPython and panads functionality. Pandas (Python Data Analysis Library) "is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language." It (pandas) provides <a href="http://pandas.pydata.org/pandas-docs/stable/dsintro.html#dataframe">dataframe</a> functionality for reading/accessing/manipulating data in memory. You can think of a data frame as a table of indexed values.

What you're currently looking at is an IPython Notebook, this acts as a way to interactively use the python interpreter as well as a way to display graphs/charts/images/markdown along with code. IPython is commonly used in scientific computing due to its flexibility. Much more information is available on the <a href='http://ipython.org/'>IPython</a> website.

Often data is stored in files, and the first goal is to get that information off of disk and into a dataframe. Since we're working with limited resources in this VM we'll have to use samples of some of the files. Don't worry though, the same techniques apply if you're not sampling the files for exploration.

## Tip
If you ever want to know the various keyboard shortcuts, just click on a (non-code) cell or the text "In []" to the left of the cell, and press the *H* key. Or select *Help* from the menu above, and then *Keyboard Shortcuts*.
___

## Exercises

### File sampling
First off, let's take a look at a log file generated from <a href="http://www.bro.og/">Bro</a> this log is similar to netflow logs as well. However, this log file is rather large and doesn't fit in memory.

As part of the first exercise, figure out what setting the variable **sample_percent** should be in order to read in between 200k and 300k worth of (randomly selected) lines from the file. Change the variable, after doing that either click the *play* button above (it's the arrow) or hit the *[Shift]+[Enter]* keys as the same time.

In [5]:
import random
logfile = 'conn.log'
sample_percent = .01
num_lines = sum(1 for line in open(logfile))
slines = set(sorted(random.sample(xrange(num_lines), int(num_lines * sample_percent))))
print "%s lines in %s, using a sample of %s lines" %(num_lines, logfile, len(slines))

22694356 lines in conn.log, using a sample of 226943 lines

### File Creation
Awesome! Now that you have a subset of lines to work with, let's write them to another file so we'll have something to practice reading in. Simply hit *[Shift]+[Enter]* below to run the code in the cell and create a new file.

In [6]:
outfile = 'conn_sample.log'
f = open(outfile, 'w+')
i = open(logfile, 'r+')
linecount = 0
for line in i:
    if linecount in slines:
        f.write(line)
    linecount += 1
f.close()
i.close()

### File Input (CSV)
This next cell does a couple of things, first it imports pandas so we can create a dataframe, and then it reads our newly created file from above into memory. You can see the separator is specified to "\t" because Bro produces tab-delimited files by default. In this case we've also specified what we should call the columns in the dataframe.

In [16]:
import pandas as pd
conn_df = pd.read_csv(outfile, sep="\t", header=None, names=['ts','uid','id.orig_h','id.orig_p','id.resp_h','id.resp_p','proto','service','duration','orig_bytes','resp_bytes','conn_state','local_orig','missed_bytes','history','orig_pkts','orig_ip_bytes','resp_pkts','resp_ip_bytes','tunnel_parents','threat','sample'])

### Verifying Input
Now (in theory) the contents of the file should be in a nicely laid-out dataframe.

For this next exercise, experiment with calling the **head()** and **tail()** method to see the values at the beginning and end of the dataframe. You can also pass a number to **head()** and **tail()** to specify the number of lines you want to see. Remember to click *play* or press *[Shift]+[Enter]* to execute the code in the cell after you change it.

In [17]:
conn_df.head()

,ts,uid,id.orig_h,id.orig_p,id.resp_h,id.resp_p,proto,service,duration,orig_bytes,...,local_orig,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,tunnel_parents,threat,sample
0,1.331901e+09,CddInw3BLL4rBo8aXh,192.168.202.79,55896,192.168.229.251,53,tcp,-,0.010000,0,...,-,0,ShR,2,84,1,44,(empty),NaN,NaN
1,1.331901e+09,CkoCJi2jAzoOjZocm9,192.168.202.100,45658,192.168.27.25,16948,udp,-,-,-,...,-,0,D,1,28,0,0,(empty),NaN,NaN
2,1.331901e+09,CCLTL53SZhguS8YHfi,192.168.202.100,45659,192.168.27.253,34578,udp,-,-,-,...,-,0,D,1,28,0,0,(empty),NaN,NaN
3,1.331901e+09,CJPvPZ2MG8hyzTwsva,192.168.202.79,47819,192.168.229.153,49160,tcp,-,0.010000,198,...,-,0,ShADdfFa,5,466,4,334,(empty),NaN,NaN
4,1.331901e+09,CS4Gks3dvOPavNvxp2,192.168.202.79,47827,192.168.229.153,49160,tcp,-,0.100000,198,...,-,0,ShADdfFa,6,518,4,334,(empty),NaN,NaN

### Data Summarization
Now create a new cell below this one. This can be accomplished by clicking on this cell once, and then clicking the *+* icon towards the top or selecting *Insert* from above and then selecting *Insert Cell Below*. After creating the new cell, it's time to learn about the **describe()** method that can be called on dataframes. This will give you a numeric summarization of all columns that contain numbers.

Try it out!

In [18]:
conn_df.describe()

,ts,id.orig_p,id.resp_p,missed_bytes,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,threat,sample
count,2.269430e+05,226943.000000,226943.000000,226943.000000,226943.000000,226943.000000,226943.000000,226943.000000,0,0
mean,1.331949e+09,42673.618799,20442.668873,1.445028,1.388468,128.940637,0.852818,177.177454,NaN,NaN
std,4.273521e+04,15311.420570,20618.839391,688.390189,9.025720,3349.892018,11.067241,12805.400204,NaN,NaN
min,1.331901e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
25%,1.331908e+09,35968.000000,2121.000000,0.000000,1.000000,44.000000,0.000000,0.000000,NaN,NaN
50%,1.331928e+09,44316.000000,10244.000000,0.000000,1.000000,48.000000,1.000000,40.000000,NaN,NaN
75%,1.331997e+09,54416.000000,37716.500000,0.000000,1.000000,60.000000,1.000000,40.000000,NaN,NaN
max,1.332018e+09,65535.000000,65535.000000,327939.000000,2480.000000,996593.000000,4223.000000,5700628.000000,NaN,NaN

### Data Types
Wait a second, isn't the ts column supposed to be a timestamp? Perhaps this column would be better suited as a time data type vs. a number.

Run the cell below to see what type of information Python stored in each column.

In [19]:
conn_df.dtypes

ts                float64
uid                object
id.orig_h          object
id.orig_p           int64
id.resp_h          object
id.resp_p           int64
proto              object
service            object
duration           object
orig_bytes         object
resp_bytes         object
conn_state         object
local_orig         object
missed_bytes        int64
history            object
orig_pkts           int64
orig_ip_bytes       int64
resp_pkts           int64
resp_ip_bytes       int64
tunnel_parents     object
threat            float64
sample            float64
dtype: object

### Converting Column Types
Time to change the ts column to a datetime object! We will accomplish that by using a simple function provided called *to_datetime()*. The cell below runs this function on the ts column (what should be a time stamp), and then re-assigns this column back to the dataframe in the same place. A new timestamp column could have been added to the dataframe as well so both the float value and the datetime object columns are present.

Run the cell below to convert the column type.

In [20]:
from datetime import datetime
conn_df['ts'] = [datetime.fromtimestamp(float(date)) for date in conn_df['ts'].values]

### Data Value Exploration
Verify that the conversion was successful. What is the datatype of the column now?

Scroll back up the page and note where you ran the **describe()** function. You'll see under the threat and sample columns there is likely the value of *NaN*. This stands for Not a Number and is a special value assigned to empty column values. There are a few ways to explore what values a column has. Two of these are **value_counts()** and **unique()**. 

Try them below on different columns. You can create new cells or if you want to get more than the last command worth of output you can put a print statement in front. 

What happens when you run them on a column with IPs (*id.orig_h, id.resp_h*)? What about sample or threat?

In [21]:
conn_df['sample'].unique()

array([ nan])

### Remove Columns
Another useful operation on a dataframe is removing and adding columns.  Since the threat and sample columns contain only *NaNs*, we can safely remove them and not impact any analysis that may be performed. 

Below the sample column is removed (dropped), add a similar line to drop the *threat* column and use a method from above to verify they are no longer in the dataframe.

In [22]:
conn_df.drop('sample', axis=1, inplace=True)

Can you think of other columns to remove? Select a few and remove them as well. What does your dataframe look like now? (Insert additional cells as needed)

In [23]:
conn_df.drop('threat', axis=1, inplace=True)
conn_df.head()

,ts,uid,id.orig_h,id.orig_p,id.resp_h,id.resp_p,proto,service,duration,orig_bytes,resp_bytes,conn_state,local_orig,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,tunnel_parents
0,2012-03-16 07:30:12.530000,CddInw3BLL4rBo8aXh,192.168.202.79,55896,192.168.229.251,53,tcp,-,0.010000,0,0,RSTO,-,0,ShR,2,84,1,44,(empty)
1,2012-03-16 07:30:01.700000,CkoCJi2jAzoOjZocm9,192.168.202.100,45658,192.168.27.25,16948,udp,-,-,-,-,S0,-,0,D,1,28,0,0,(empty)
2,2012-03-16 07:30:06.210000,CCLTL53SZhguS8YHfi,192.168.202.100,45659,192.168.27.253,34578,udp,-,-,-,-,S0,-,0,D,1,28,0,0,(empty)
3,2012-03-16 07:31:05.570000,CJPvPZ2MG8hyzTwsva,192.168.202.79,47819,192.168.229.153,49160,tcp,-,0.010000,198,118,SF,-,0,ShADdfFa,5,466,4,334,(empty)
4,2012-03-16 07:31:05.790000,CS4Gks3dvOPavNvxp2,192.168.202.79,47827,192.168.229.153,49160,tcp,-,0.100000,198,118,SF,-,0,ShADdfFa,6,518,4,334,(empty)

### Row Selection

You can use column values to select rows from the dataframes (and even only view specific columns). First, select all rows that contain *SSL* traffic by running the cell below.

In [24]:
conn_df[conn_df['service'] == 'ssl'].head()

,ts,uid,id.orig_h,id.orig_p,id.resp_h,id.resp_p,proto,service,duration,orig_bytes,resp_bytes,conn_state,local_orig,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,tunnel_parents
5519,2012-03-16 07:46:55.500000,C99nzvZoisDlH33U,192.168.202.79,51012,192.168.229.254,443,tcp,ssl,0.260000,539,1060,SF,-,0,ShADadfrF,15,1327,13,1744,(empty)
5534,2012-03-16 07:46:59.420000,CqtDAz3GW7CCxDlP3i,192.168.202.79,51100,192.168.229.254,443,tcp,ssl,0.260000,560,1060,SF,-,0,ShADadfrF,15,1348,13,1744,(empty)
5685,2012-03-16 07:47:31.430000,CG3EsB1fMQ5sWzzol,192.168.202.79,52181,192.168.229.254,443,tcp,ssl,0.260000,550,1060,SF,-,0,ShADadfrF,15,1338,13,1744,(empty)
5794,2012-03-16 07:47:54.040000,CCAZaL2jlKXFvCZtDb,192.168.202.79,53094,192.168.229.254,443,tcp,ssl,0.260000,535,1060,SF,-,0,ShADadfrF,15,1323,13,1744,(empty)
5902,2012-03-16 07:48:15.130000,CpZW6p3iO95iolPIte,192.168.202.79,53650,192.168.229.254,443,tcp,ssl,0.260000,546,1060,SF,-,0,ShADadfrF,15,1334,13,1744,(empty)

Next we can assign that result to a dataframe, and then look at all all the *SSL* connections that happen over ports other than 443.

In [25]:
ssl_df = conn_df[conn_df['service'] == 'ssl']
ssl_df[ssl_df['id.resp_p'] != 443].head()

,ts,uid,id.orig_h,id.orig_p,id.resp_h,id.resp_p,proto,service,duration,orig_bytes,resp_bytes,conn_state,local_orig,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,tunnel_parents
42068,2012-03-16 08:35:12.670000,CWEAWH17T5NGwgpsbk,192.168.202.110,52016,192.168.27.253,8089,tcp,ssl,0.310000,697,1816,RSTO,-,0,ShADadfR,10,1225,6,2136,(empty)
52808,2012-03-16 09:09:19.530000,CRotGy3jAXGOxvCMX3,192.168.204.70,37074,192.168.202.68,55553,tcp,ssl,5.030000,637,8441,SF,-,0,ShADadFfR,30,2802,26,18250,(empty)
76404,2012-03-16 12:15:48.180000,CMrDsn1lGAwM9ylHkd,192.168.203.64,43477,192.168.202.68,55553,tcp,ssl,5.020000,535,8633,SF,-,0,ShADadFfR,30,2598,26,18634,(empty)
86030,2012-03-16 12:51:17.590000,CRJFe04DM00TK2IOg9,192.168.202.79,60419,192.168.26.203,8089,tcp,ssl,5.010000,402,143,SF,-,0,ShADadFfRR,10,906,10,704,(empty)
98395,2012-03-16 13:28:17.950000,CJnsYp1hNeUxgCL4V1,192.168.202.110,40831,192.168.21.102,993,tcp,ssl,-,-,-,RSTO,-,0,ShADadR,5,318,3,396,(empty)

You can see the individual column selections above eg: *conn_df['service']*, and *ssl_df['id.resp_p']* respectively. You can use these to view output of specific columns. 

For example, run the cell below to see all the individual values of originator bytes associated with a *SSL* connection over port 443.

In [26]:
ssl_df[ssl_df['id.resp_p'] == 443]['orig_bytes'].head()

5519    539
5534    560
5685    550
5794    535
5902    546
Name: orig_bytes, dtype: object

## Final Exercise
Use all of the techniques above to display the unique ports and originator IPs (bonus points for the number of connections of each) associated with all *HTTP* connections **NOT** over port 80.

In [29]:
http_df = conn_df[conn_df['service'] == 'http']
http_df[http_df['id.resp_p'] != 80]['id.orig_h'].value_counts()

192.168.202.110    423
192.168.202.140     77
192.168.202.138     65
192.168.202.79      20
192.168.204.45       6
192.168.202.108      5
192.168.202.100      3
192.168.202.112      2
192.168.202.4        1
192.168.202.103      1
192.168.202.95       1
192.168.202.144      1
192.168.202.68       1
dtype: int64

In [30]:
http_df[http_df['id.resp_p'] != 80]['id.resp_p'].value_counts()

3128    219
8080    190
8000    132
5488     52
5357     13
dtype: int64